body{
    background-color: #407BFF1F;
    font-family: "Montserrat", sans-serif;
    text-align: center;
    color: #8B8B8B;
    padding: 40px 0px;
}
h1{
    font-family: "Montserrat", sans-serif;
    font-size: 28px;
    color: #000000;
    letter-spacing: 0;
    

}
h2{
    color: #000000;
    font-size: 16px;
    padding-top: 50px;
}

.rectangle{
    background-color: #407BFF;
    width: 60px;
    height: 2px;
}

.button a {
    text-decoration-line: none;
    background-color: #407BFF;
    color: #FAFAFA;
    padding: 11px 30px;
    border-radius: 30px;
    font-size: 14px;
    font-weight: 300;
    margin-right: 10px; 
    
}
.pohoda a{ 
    background-color: #8B8B8B;
}
.icon{
    background-color: #FAFAFA;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 0px 4px 6px #407BFF1F;
    border-radius: 10px;
    margin: 15px;
    font-size: 13px;
    padding: 10px;
}

.icons{
    padding: 10px;

}

p{
    font-size: 16px;
    padding: 10px;

}
.text2{
    display: none;
}

    @media screen  and (min-width: 640px) {
  .button{
    display: flex;
    justify-content: center; 
    align-items: center;

  }
  .info{
    display: flex;

  }


.icon {
    display: flex; 
    justify-content: center; 
    align-items: center; 
  }
  
  .icons {
    max-width: 100%; 
    max-height: 100%; 
}
}

@media screen  and (min-width: 1100px){
body{
    text-align: left;
    margin: 50px;
} 
.p{
    float: left;
}
.first img {
    float: right;
    margin-left: 20px;
  }
  .button {
    float: left; 

  }
.text2 {
    display: block;
}
.text1 {
    display: none;
}
  .second{
    clear:both;
    display: flex;
    
  }

  .third{
    display: flex;
  }
}